<div class="container mx-auto my-10">
  <div class="h-96 border-separate overflow-clip flex flex-col">
    <table class="w-full table-fixed">
      <thead class="sticky top-0">
      <tr>
        <th class="p-2">Title</th>
        <th class="p-2">Description</th>
      </tr>
      </thead>
    </table>
    <div class="flex-1 overflow-y-auto">
      <table class="w-full table-fixed">
        <tbody>
        <% @recipes.each do |recipe| %>
        <tr class="cursor-pointer space-x-2">
          <td class="p-2"><%= recipe.title %></td>
          <td class="p-2"><%= recipe.description %>></td>
        </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>